@import "tailwindcss";

@theme {
  --color-border: hsl(var(--border));
  --color-Background: hsl(var(--Background));
  --color-Foreground: hsl(var(--Foreground));

  --color-primary: hsl(var(--primary));
  --color-secondary: hsl(var(--secondary));

  --color-black: hsl(var(--black));
  --color-white: hsl(var(--white));

  --color-card: hsl(var(--card));

  --font-display: "Sofia Pro", sans-serif;

  --animate-float: float 6s ease-in-out infinite;
  --animate-pulse-subtle: pulse-subtle 4s ease-in-out infinite;
  --animate-fade-in: fade-in 0.7s ease-out forwards;
  --animate-fade-in-delay-1: fade-in 0.7s ease-out 0.2s forwards;
  --animate-fade-in-delay-2: fade-in 0.7s ease-out 0.4s forwards;
  --animate-fade-in-delay-3: fade-in 0.7s ease-out 0.6s forwards;
  --animate-fade-in-delay-4: fade-in 0.7s ease-out 0.8s forwards;
  --animate-meteor: meteor 5s linear infinite;

  @keyframes float {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  @keyframes pulse-subtle {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0.8;
    }
  }
  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes meteor {
    0% {
      transform: rotate(215deg) translateX(0);
      opacity: 1;
    }
    70% {
      opacity: 1;
    }
    100% {
      transform: rotate(215deg) translateX(-500px);
      opacity: 0;
    }
  }
}

@layer base {
  :root {
    --background: 210 40% 91%;
    --foreground: 222 47% 11%;

    --card: 0 0% 100%;

    --primary: 86 100% 62%;
    --secondary:  86 100% 62%;

    --black: 0 0% 11%;
    --white: 43 100% 99%;

    --border: 214 32% 91%;
  }

  * {
    @apply border-border;
  }

  @font-face {
    font-family: Sofia Pro;
    src:
      local(Sofia Pro Regular),
      local(SofiaPro-Regular),
      url(https://fast.fonts.net/dv2/14/4a6cb1fb-207c-45f0-b957-12530e1c9444.woff2?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=b1ccdd5b-59ce-4887-adcf-91251a278bf3)
        format("woff2"),
      url(https://fast.fonts.net/dv2/3/9cf72f98-dafd-4b8a-ae89-de91ad1e9c63.woff?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=b1ccdd5b-59ce-4887-adcf-91251a278bf3)
        format("woff");
    font-weight: 400;
    font-style: normal;
  }
}

@utility container {
  margin-inline: auto;

  @media (width >= 640px) {
    max-width: 640px;
  }
  @media (width >= 768px) {
    max-width: 768px;
  }
  @media (width >= 1024px) {
    max-width: 1024px;
  }
  @media (width >= 1280px) {
    max-width: 1280px;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.input {
  @apply w-full border border-gray-300 px-4 py-3 bg-white text-gray-800 placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-primary focus:border-primary transition;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}